$avant-blue: #0055a2;
$navbar-height: 70px;

$line-color: #fff;

/*** Fonts ***/
$font-family-sans-serif: "Open Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base: $font-family-sans-serif;