#page-login-index #page {
    background-color: $light-blue;
    background-image:  url([[pix:theme_boostcgs|logon_bg]]);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-header {
    background-color: $light-blue;
}